<p>Error: <%= @message %></p>

<% unless @errors.nil? %>
<ul>
  <% @errors.each do |error, rows| %>
  <li>
    <%= error %>
    <ul><li>Rows: <%= rows.join(', ') %></li></ul>
  </li>
  <% end %>
</ul>
<% end %>
