<p>Error: <%= @message %></p>

<% unless @errors.nil? %>
<ul>
  <% @errors.each_with_index do |errors, row| %>
    <% unless errors.nil? %>
  <li>
    On row #<%= row %>
    <ul>
      <% errors.each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  </li>
    <% end %>
  <% end %>
</ul>
<% end %>
